@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.bx {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1.15;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  font-size: 1.15rem;
}
.hide-arrow::after {
  display: none;
}
.hide-arrow::active {
  border: none;
}
.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-menu {
  box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(-82px, 143px);
  right: 200px;
}
.bg-label-primary {
  background-color: #e7e7ff !important;
  color: #696cff !important;
}
.bg-label-success {
  background-color: #e8fadf !important;
  color: #71dd37 !important;
}
.bg-label-info {
  background-color: #d7f5fc !important;
  color: #03c3ec !important;
}
.bg-label-warning {
  background-color: #fff2d6 !important;
  color: #ffab00 !important;
}
.bg-label-danger {
  background-color: #ffe0db !important;
  color: #ff3e1d !important;
}
.btn-primary {
  color: #fff;
  background-color: #696cff;
  border-color: #696cff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #5f61e6 !important;
  border-color: #5f61e6 !important;
  transform: translateY(-1px) !important;
}
.btn-danger {
  color: #fff;
  background-color: #ff3e1d !important;
  border-color: #ff3e1d !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 108, 105, 0.4);
}
.btn-danger:hover {
  color: #fff !important;
  background-color: #ff3e1d !important;
  border-color: #ff3e1d !important;
  transform: translateY(-1px) !important;
}
.pagination {
  --bs-pagination-padding-x: 0.5125rem;
  --bs-pagination-padding-y: 0.625rem;
  --bs-pagination-font-size: 0.9375rem;
  --bs-pagination-color: #697a8d;
  --bs-pagination-bg: #f0f2f4;
  --bs-pagination-border-width: 0px;
  --bs-pagination-border-color: #d9dee3;
  --bs-pagination-border-radius: 0.25rem;
  --bs-pagination-hover-color: #697a8d;
  --bs-pagination-hover-bg: #e1e4e8;
  --bs-pagination-hover-border-color: rgba(67, 89, 113, 0.3);
  --bs-pagination-focus-color: #697a8d;
  --bs-pagination-focus-bg: #e1e4e8;
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: rgba(105, 108, 255, 0.08);
  --bs-pagination-active-border-color: rgba(105, 108, 255, 0.08);
  --bs-pagination-disabled-color: #a1acb8;
  --bs-pagination-disabled-bg: #f7f8f9;
  --bs-pagination-disabled-border-color: #d9dee3;
  display: flex;
  padding-left: 0;
  list-style: none;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-link {
  padding: 0.625rem;
  min-width: calc(2rem + calc(0px * 2));
  font-size: 0.75rem;
  line-height: 1;
}
.page-item.active .page-link,
.page-item.active .page-link:hover,
.page-item.active .page-link:focus,
.pagination li.active > a:not(.page-link),
.pagination li.active > a:not(.page-link):hover,
.pagination li.active > a:not(.page-link):focus {
  border-color: #696cff;
  background-color: #696cff;
  color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(105, 108, 255, 0.4);
}
.page-item.active .page-link {
  margin: 0 0.1rem 0 0.3rem;
}
.page-item:not(:first-child) .page-link {
  margin-left: 0.1875rem;
}
.page-item .page-link {
  border-radius: var(--bs-pagination-border-radius);
}
.page-link.active,
.active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}
.page-link,
.page-link > a {
  border-radius: 0.375rem;
  line-height: 1;
  text-align: center;
  min-width: calc(2.1875rem + calc(0px * 2));
}
.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid
    var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a {
  color: #696cff;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
.icon-danger {
  color: #ff3e1d;
}
.icon-primary {
  color: #5f61e6;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #3d3b3b;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid rgba(67, 89, 113, 0.175);
  border-radius: 0.5rem;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
}
.modal .btn-close {
  background-color: #fff;
  border-radius: 0.5rem;
  opacity: 1;
  padding: 0.635rem;
  box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4);
  transition: all 0.23s ease 0.1s;
}
.btn-close {
  --bs-btn-close-bg: url(
    data:image/svg + xml,
    %3Csvgwidth="150px"height="151px"viewBox="0 0 150 151"version="1.1"xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"%3E%3Cdefs%3E%3Cpolygonid="path-1"points="131.251657 0 74.9933705 56.25 18.7483426 0 0 18.75 56.2450278 75 0 131.25 18.7483426 150 74.9933705 93.75 131.251657 150 150 131.25 93.7549722 75 150 18.75"%3E%3C/polygon%3E%3C/defs%3E%3Cgid="🎨-%5BSetup%5D:-Colors-&amp;-Shadows"stroke="none"stroke-width="1"fill="none"fill-rule="evenodd"%3E%3Cgid="Artboard"transform="translate%28-225.000000, -250.000000%29"%3E%3Cgid="Icon-Color"transform="translate%28225.000000, 250.500000%29"%3E%3Cusefill="%23a1acb8"xlink:href="%23path-1"%3E%3C/use%3E%3Cusefill-opacity="0.5"fill="%23a1acb8"xlink:href="%23path-1"%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E
  );
  box-sizing: content-box;
  width: 0.8em;
  height: 0.8em;
  padding: 0.25em 0.25em;
  color: #a1acb8;
  background: rgba(0, 0, 0, 0) var(--bs-btn-close-bg) center / 0.8em auto
    no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.95;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
h3,
.h3 {
  font-size: calc(1.2875rem + 0.45vw);
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #566a7f;
}
.modal-body p {
  color: #697a8d;
}
.btn-label-secondary {
  color: #8592a3;
  border-color: rgba(0, 0, 0, 0);
  background: #ebeef0;
}
.btn-label-secondary:hover {
  border-color: rgba(0, 0, 0, 0) !important;
  background: #788393 !important;
  color: #fff !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(133, 146, 163, 0.4) !important;
  transform: translateY(-1px) !important;
}
.form-check-input:checked,
.form-check-input[type="checkbox"]:indeterminate {
  background-color: #696cff;
  border-color: #696cff;
  box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}
